---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Guitar from '../components/icons/Guitar.astro';
import HeroSection from '../components/HeroSection.astro';
import BlackLine from '../components/icons/BlackLine.astro';
import RedLine from '../components/icons/RedLine.astro';
import Button from './Button.astro';

const { bg, title1, title2, description, imageSrc, aspect, button, id } = Astro.props;
---

<section class={`${bg} flex flex-col justify-start items-center w-full min-h-screen text-black`} id={id}>
  <!-- Títulos -->
  <div class="w-full flex flex-col gap-y-4 md:gap-y-8 h-1/3 md:h-1/2 justify-center">
    
    <span class="mt-6 sm:mt-14 ml-4 sm:ml-32 2xl:ml-2 flex flex-row items-center">
      <BlackLine class="hidden lg:block md:w-40 2xl:w-96" />
      <h2 class="text-5xl sm:text-7xl lg:text-8xl 2xl:text-9xl font-semibold tracking-tight">{title1}</h1>
    </span>

    <span class="-mt-4 sm:-mt-12 mr-4 sm:mr-32 2xl:mr-2 flex flex-row items-center justify-end">
      <h2 class="text-5xl sm:text-7xl lg:text-8xl 2xl:text-9xl font-semibold text-primary tracking-tight lg:mr-8">{title2}</h1>
      <RedLine class="hidden lg:block md:w-40 2xl:w-96" />
    </span>
  </div>

  <!-- Imagen + Texto -->
  <div class="flex flex-col-reverse xl:flex-row items-center justify-center gap-8 w-full px-4 py-8 md:py-16 xl:px-32 2xl:px-44">
    
    <!-- Texto -->
    <div class="w-full xl:w-1/2 text-center xl:text-left font-regular text-lg sm:text-xl md:text-2xl leading-relaxed">
      <p>{description
        .split('\n')
        .filter(Boolean) // evita párrafos vacíos si hay doble salto
        .map((paragraph: string) => (
          <p class="mb-4">{paragraph.trim()}</p>
        ))}
      </p>

      {button && (
        <div class="mt-6">
          <Button href={button.href} text={button.text} variant="primary" />
        </div>
      )}
    </div>

    <!-- Imagen -->
    <img
      src={imageSrc}
      alt="Imagen de sección"
      class={`w-full max-w-md xl:max-w-none xl:w-1/2 h-auto object-cover grayscale-100 rounded-md shadow-lg aspect-[4/3] transition-all duration-300 hover:grayscale-0 `}
      loading="lazy"
      decoding="async"
    />
  </div>
</section>

